.Shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 45px;
    
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 45px;
    margin: 100px 20px;
    
}
.order-details{
    background-color: burlywood;
}